<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.grid/latest/tui-grid.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.grid/latest/tui-grid.js"></script>
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>

</head>
<body>
<div id="grid1"></div>
<button id="btn">저장</button>
<button id="password">비밀번호 초기화</button>
<button id="delete">회원 삭제</button>

</body>
<script src="/dayoung/js/gridList.js"></script>
</html>
