<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        /* 모달 스타일 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }
    </style>
</head>
<body>

<table>
    <form th:action="@{/dayoung/modify}" method="post" onsubmit="return validateForm()">
        <p>
            <label for="user_tel">전화 번호</label>
            <input type="text" id="user_tel" name="user_tel"/>
        </P>

        <button type="button" onclick="openModal()">비밀번호 변경</button>
        <br>
        <input type="submit" value="등록" id="submit">
    </form>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span onclick="closeModal()" style="float:right;">&times;</span>
            <h2>비밀번호 변경</h2>

            <label for="new_password">새 비밀번호</label>
            <input type="password" id="new_password" name="new_password"/><br><br>

            <label for="confirm_password">비밀번호 재확인</label>
            <input type="password" id="confirm_password" name="confirm_password"/><br><br>

            <button onclick="changePassword()">변경</button>
        </div>
    </div>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function openModal() {
        document.getElementById('myModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('myModal').style.display = 'none';
    }

    function changePassword() {
        var new_password = document.getElementById('new_password').value;
        var confirm_password = document.getElementById('confirm_password').value;

        if ( new_password === ''||new_password===null || confirm_password=== null|| confirm_password === '') {
            alert('수정할 정보를 입력해주세요');
            return;
        }else if (new_password !=confirm_password){
            alert('비밀번호 정보가 일치하지 않습니다.');
            return;
        // }else if(new_password==confirm_password){
        //     var data = {
        //         new_password: new_password
        //     };
        }else {
            $.ajax({
                url: '/dayoung/modifyPw', // 비밀번호 확인을 위한 엔드포인트
                method: 'GET',
                data: { newPassword: new_password }, // 입력된 비밀번호를 서버로 전송
                success: function(response) {
                    console.log('response:' + response);
                    let result = response.status;
                    console.log('result:' + result);
                    if (result === 'success') {
                        // 비밀번호가 일치할 때 탈퇴 처리를 진행할 수 있도록 설정
                        window.location.href = '/dayoung/modify';

                    } else {
                        alert('비밀번호가 일치하지 않습니다.');
                    }
                },
                error: function(error) {
                    console.error('비밀번호 확인 중 오류:', error);
                }
            });
        }


        // 요청 보내기var xhr = new XMLHttpRequest();
        // xhr.open('GET', '/dayoung/modifyPw', true);
        // xhr.setRequestHeader('Content-Type', 'application/json');
        //
        // xhr.onload = function () {
        //     if (xhr.status === 200) {
        //         alert('비밀번호 변경 성공');
        //         closeModal(); // 모달 닫기 등 추가 작업 수행
        //     } else {
        //         alert('비밀번호 변경 실패');
        //     }
        // };
        //
        // var data = {
        //     new_password: new_password
        // };
        // xhr.send(JSON.stringify(data));
    }

    function validateForm() {
        var telValue = document.getElementById('user_tel').value;
        if (telValue === '') {
            alert('수정할 정보를 입력해주세요');
            return false;
        }
        return true;
    }
</script>

</body>
</html>
