<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메시지내용</title>
</head>
<body>
    <div>
        발신자 : <span th:text="${message.senderNm}"></span>
        수신자 : <span th:text="${message.receiverNm}"></span><br/>
        <span th:text="${#dates.format(message.sentAt, 'yyyy-MM-dd HH:mm:ss')}"></span><br/>
        제목 : <span th:text="${message.title}"></span><br/>
        내용 : <br/><label><textarea th:text="${message.content}" style="resize: none;" name="content"  cols="90" rows="25" readonly="readonly"></textarea></label>
    </div>
    <span th:if="${searchInput == null && searchOp  == null && div == null}">
        <th:block th:if="${message.recDel == 0 && message.receiverId == userNO}">
            <button th:attr="onclick='changePage(\'' + @{'/message/recmsg?pageNo=' + ${pageNo}} + '\')'">목록으로</button><br/>
        </th:block>
        <th:block th:if="${message.senDel == 0 && message.senderId == userNO}">
            <button th:attr="onclick='changePage(\'' + @{'/message/senmsg?pageNo=' + ${pageNo}} + '\')'">목록으로</button><br/>
        </th:block>
        <th:block th:if="${message.senDel == 1 || message.recDel == 1}">
            <button th:attr="onclick='changePage(\'' + @{'/message/recycle?pageNo=' + ${pageNo}} + '\')'">목록으로</button><br/>
        </th:block>
    </span>
    <span th:if="${searchInput != null && searchOp  != null && div != null}">
        <th:block th:if="${message.recDel == 0 && message.receiverId == userNO}">
            <button th:attr="onclick='changePage(\'' + @{'/message/recmsg?pageNo=' + ${pageNo} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'">목록으로</button><br/>
        </th:block>
        <th:block th:if="${message.senDel == 0 && message.senderId == userNO}">
            <button th:attr="onclick='changePage(\'' + @{'/message/senmsg?pageNo=' + ${pageNo} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'">목록으로</button><br/>
        </th:block>
        <th:block th:if="${message.senDel == 1 || message.recDel == 1}">
            <button th:attr="onclick='changePage(\'' + @{'/message/recycle?pageNo=' + ${pageNo} + '&searchInput=' + ${searchInput} + '&searchOp=' + ${searchOp} + '&div=' + ${div}} + '\')'">목록으로</button><br/>
        </th:block>
    </span>
</body>
</html>