<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8">
        <title>Myself</title>
        <link rel="stylesheet" type="text/css" href="/layout/layout.css">
        <link rel="stylesheet" type="text/css" href="/layout/styles.css">
        <link rel="stylesheet" type="text/css" href="/layout/loginInfo.css">
    </head>
    <body id="body-pd">
    <div class="page" th:with="userTp=${#httpServletRequest.getSession().getAttribute('authInfo')?.user_no}">

        <header>
            <a href="/"><h2>Lo-Pie Academy</h2></a>
            <nav>
                <div class="loginInfo">
                    <div class="wrapper">
                        <div class="profile-card js-profile-card">
                            <div class="profile-card__img">
                                <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1537638518/Ba%C5%9Fl%C4%B1ks%C4%B1z-1.jpg"
                                     alt="profile card">
                            </div>

                            <div class="profile-card__cnt js-profile-cnt">
                                <div class="profile-card__name">Muhammed Erdem</div>
                                <div class="profile-card__txt">Front-end Developer from <strong>Mesopotamia</strong>
                                </div>

                                <div class="profile-card-ctr">
                                    <button class="profile-card__button button--blue js-message-btn">Message</button>
                                    <button class="profile-card__button button--orange">Follow</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div th:with="userTp=${#httpServletRequest.getSession().getAttribute('authInfo')?.user_tp}">

                <div class="nav__brand">
                    <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav__logo">Bedimcode</a>
                </div>

                <div class="nav__list" th:if="${userTp == 1}">

                    <a href="/listenLec/lecInfo" class="nav__link">
                        <ion-icon name="library-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">강의 정보</span>
                    </a>

                    <a href="/dayoung/userInfo" class="nav__link">
                        <ion-icon name="person-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">마이페이지 </span>
                    </a>
                </div>

                <div class="nav__list" th:if="${userTp == 2}">
                    <a href="#" class="nav__link active">
                        <ion-icon name="library-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">강의 목록 / 관리</span>
                    </a>
                    <a href="#" class="nav__link">
                        <ion-icon name="people-circle-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">수강자 조회</span>
                    </a>
                    <a href="/occ?pageNo=1" class="nav__link">
                        <ion-icon name="newspaper-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">강의 정보</span>
                    </a>
                    <a href="/dayoung/userInfo" class="nav__link">
                        <ion-icon name="person-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">마이페이지</span>
                    </a>
                </div>

                <div class="nav__list" th:if="${userTp == 3}">
                    <a href="/dayoung/addStudent" class="nav__link active">
                        <ion-icon name="person-add-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">학생 등록</span>
                    </a>
                    <a href="/dayoung/addUser" class="nav__link">
                        <ion-icon name="person-add-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">개별 등록</span>
                    </a>

                    <a href="/stuLec/stuList" class="nav__link">
                        <ion-icon name="reader-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">학생 강의 등록</span>
                    </a>

                    <a href="/dayoung/list" class="nav__link">
                        <ion-icon name="person-remove-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">사용자 수정 및 삭제</span>
                    </a>
                </div>

                <a href="/boards/free/posts" class="nav__link">
                    <ion-icon name="reader-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">자유게시판</span>
                </a>
                <a href="/boards/faq/posts" class="nav__link">
                    <ion-icon name="help-circle-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">FAQ등록</span>
                </a>
                <a href="/boards/qa/posts" class="nav__link">
                    <ion-icon name="help-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Q&A</span>
                </a>
                <a href="/logout" class="nav__link">
                    <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">Log out</span>
                </a>
            </div>
        </nav>
    </div>
    <div id="contentBig">
        <th:block th:replace="${content}"></th:block>
    </div>
    <!-- IONICONS -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- JS -->
    <script src="/layout/main.js"></script>
    <script src="/layout/loginInfo.js"></script>
    </body>
</th:block>
</html>