<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.lpuniv.dayoung.user.signUp.dao.UserDao">
    <insert id="insertUser" parameterType="com.project.lpuniv.dayoung.user.signUp.dto.UserDto">

        INSERT INTO user ( user_tp,user_nm, user_tel,user_loginId,user_passwd,user_email, user_brdt, user_gen, user_signdate)
        VALUES ( #{user_tp},#{user_nm},#{user_tel},#{user_loginId},#{user_passwd},#{user_email}, #{user_brdt}, #{user_gen},  #{user_signdate}
        )
    </insert>

    <select id="selectUser" resultType="com.project.lpuniv.dayoung.user.signUp.dto.UserDto">

        select * from user where user_no = #{user_no}

    </select>


    <select id="selectUserByTel" resultType="com.project.lpuniv.dayoung.user.signUp.dto.UserDto">

        select * from user where user_tel = #{user_tel}

    </select>


</mapper>
